body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}
main {
    padding: 20px;
}
footer {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
